#vidaContainer {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 20px;
  border: 2px solid #000;
  background-color: #444;
  z-index: 1000;
}

#vidaBarra {
  height: 100%;
  width: 100%;
  background-color: red;
  transition: width 0.3s ease;
}
